In [1]:
import pandas as pd

keywords = pd.read_csv('data/keywords.csv')
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [2]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [3]:
from ast import literal_eval

def getPropListByJsonList(x, prop):
    if pd.isnull(x):
        return []
    jsonList = literal_eval(str(x))
    propList = []
    for val in jsonList:
        propList.append(val.get(prop))
    return propList

In [4]:
keywords['keywords_names'] = keywords.keywords.apply(lambda x: getPropListByJsonList(x, 'name'))

In [5]:
keywords = keywords.drop(['keywords'],1)

In [6]:
keywords.head()

      id                                     keywords_names
0    862  [jealousy, toy, boy, friendship, friends, riva...
1   8844  [board game, disappearance, based on children'...
2  15602  [fishing, best friend, duringcreditsstinger, o...
3  31357  [based on novel, interracial relationship, sin...
4  11862  [baby, midlife crisis, confidence, aging, daug...

In [7]:
keywords_exploded_by_names = keywords.explode("keywords_names")
keywords_exploded_by_names.to_csv('data/keywords_exploded_name.csv')

In [8]:
keywords_names = keywords_exploded_by_names.groupby("keywords_names")

In [9]:
keywords_names.head()

           id   keywords_names
0         862         jealousy
0         862              toy
0         862              boy
0         862       friendship
0         862          friends
...       ...              ...
46402   14885  winnie the pooh
46404  106807          fat man
46409   84419       art critic
46409   84419        deformity
46410  390959      blair witch

[51606 rows x 2 columns]

In [10]:
counts = keywords_names['keywords_names'].value_counts()
counts

keywords_names   keywords_names
'comfort women'  'comfort women'    1
077              077                3
10th century     10th century       1
1500s            1500s              1
15th birthday    15th birthday      1
                                   ..
찌라시              찌라시                1
찌라시 : 위험한 소문     찌라시 : 위험한 소문       1
카운트다운            카운트다운              1
하울링              하울링                1
형사 duelist       형사 duelist         1
Name: keywords_names, Length: 19956, dtype: int64